<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue2topic</title>
    <script src="./vue-2.6.7.js"></script>
    <style>
    </style>
</head>
<body>

<div id="root">
    <h1>All Tasks</h1>

    <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <h2>Incomplete Tasks</h2>

    <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>
</div>


<script>

    new Vue({
        el: '#root',
        data: {
            tasks: [
                { description: 'Go to the store', completed: true},
                { description: 'Go Fishing', completed: false},
                { description: 'Make donation', completed: true},
                { description: 'Make dinner', completed: true},
                { description: 'Clear computer inbox', completed: false},
                { description: 'Go to bed', completed: true},
            ]
        },

        computed: {
            incompleteTasks() {
                return this.tasks.filter(task => !task.completed);
            }
        },
    })

</script>
</body>
</html>